@model WebApplicationMVC.Models.Student

@{
    ViewBag.Title = "Create Modified";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <h4>Student</h4>

    @*@Html.EditorForModel()*@

    @Html.Partial("_StudentEditor")

    <input type="submit" value="Save" />
    <input type="reset"/>
}



































































































