@model WebApplicationMVC.Models.Student

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    <h4>Student</h4>

    @Html.Partial("_StudentEditor")

    <input type="submit" value="Save"/>
    <input type="reset" />
}
